In [3]:
import pandas as pd
import os

In [4]:
DATA_PATH = f'{os.getcwd()}/names/'

In [42]:
def count_top3(years):
    names_row = ['Name', 'Gender', 'Count']
    names_list = [pd.read_csv(DATA_PATH + 'yob' + str(year) + '.txt', names=names_row) for year in years]
    names_all = pd.concat(names_list)
    names_all2 = names_all.groupby(['Gender', 'Name']).sum()
    names_all2 = names_all2.sort_values(by='Count', ascending=False).head(3)
    return names_all2

In [40]:
count_top3([1900, 1950, 2000])

AttributeError: 'DataFrame' object has no attribute 'Name'

In [36]:
names_all2

NameError: name 'names_all2' is not defined

In [ ]:
x = pd.read_csv(DATA_PATH + 'yob1880.txt').head(10)

In [ ]:
names = pd.read_csv(DATA_PATH + 'yob2000.txt',
                   names = ['Name', 'Gender', 'Count']
                   )
names.head(10)

In [15]:
x

        Mary  F  7065
0       Anna  F  2604
1       Emma  F  2003
2  Elizabeth  F  1939
3     Minnie  F  1746
4   Margaret  F  1578
5        Ida  F  1472
6      Alice  F  1414
7     Bertha  F  1320
8      Sarah  F  1288
9      Annie  F  1258

In [ ]:
names[:10].to_csv('temp.csv', index=False)

In [ ]:
names.query('Count < 10')

In [ ]:
names[(names.Count > 25000) & (names.Gender == 'F')]

In [ ]:
names.unt < 10