In [2]:
import pandas as pd
import os

In [3]:
DATA_PATH = f'{os.getcwd()}/names/'

In [4]:
def count_top3(years):
    names_row = ['Name', 'Gender', 'Count']
    names_list = [pd.read_csv(DATA_PATH + 'yob' + str(year) + '.txt', names=names_row) for year in years]
    names_all = pd.concat(names_list)
    names_all2 = names_all.groupby(['Gender', 'Name']).sum()
    names_all2 = names_all2.sort_values(by='Count', ascending=False).head(3)
    names_all2 = names_all2.reset_index()
    return [x for x in names_all2.Name]

In [6]:
count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']

True

In [8]:
def count_dynamics(years):
    names_row = ['Name', 'Gender', 'Count']
    names_list = [pd.read_csv(DATA_PATH + 'yob' + str(year) + '.txt', names=names_row) for year in years]
    names_all = pd.concat(names_list)
    names_all2 = names_all.groupby(['Gender']).sum()
    names_all2 = names_all2.sort_values(by='Count', ascending=False)

    return names_all2

In [10]:
count_dynamics([1900, 1950, 2000])

          Count
Gender
M       3904101
F       3827991