In [1]:
import pandas as pd
import os

In [2]:
DATA_PATH = f'{os.getcwd()}/names/'

In [ ]:
def count_top3(years):
    names_row = ['Name', 'Gender', 'Count']
    names_list = [pd.read_csv(DATA_PATH + 'yob' + str(year) + '.txt', names=names_row) for year in years]
    names_all = pd.concat(names_list)
    names_all2 = names_all.groupby(['Gender', 'Name']).sum()
    names_all2 = names_all2.sort_values(by='Count', ascending=False).head(3)

    return names_all2

In [114]:
count_top3([1900, 1950, 2000])

            Name Gender  Count
0           Mary      F  16706
1          Helen      F   6343
2           Anna      F   6114
3       Margaret      F   5304
4           Ruth      F   4765
5      Elizabeth      F   4096
6       Florence      F   3920
7          Ethel      F   3896
8          Marie      F   3856
9        Lillian      F   3414
10         Annie      F   3324
11          Edna      F   3102
12          Emma      F   3095
13         Alice      F   3059
14        Bessie      F   3044
15        Bertha      F   3019
16         Grace      F   2942
17          Rose      F   2845
18         Clara      F   2826
19       Mildred      F   2800
20        Gladys      F   2733
21        Minnie      F   2673
22      Gertrude      F   2580
23         Pearl      F   2512
24         Mabel      F   2509
25       Frances      F   2495
26       Dorothy      F   2491
27        Martha      F   2437
28         Hazel      F   2425
29           Ida      F   2285
...          ...    ...    ...
43769      Youki      M      5
43770       Yuan      M      5
43771       Yuji      M      5
43772    Zabrien      M      5
43773     Zaccai      M      5
43774  Zaccheaus      M      5
43775  Zackeriah      M      5
43776   Zackorie      M      5
43777      Zaeem      M      5
43778     Zaiden      M      5
43779       Zaim      M      5
43780     Zakeem      M      5
43781      Zakia      M      5
43782     Zakiah      M      5
43783     Zamari      M      5
43784     Zamier      M      5
43785      Zamon      M      5
43786     Zanden      M      5
43787      Zarak      M      5
43788    Zayveon      M      5
43789       Zeev      M      5
43790     Zefram      M      5
43791     Zekiel      M      5
43792      Zelig      M      5
43793      Zemar      M      5
43794       Zeph      M      5
43795      Zeven      M      5
43796      Ziggy      M      5
43797         Zo      M      5
43798      Zyier      M      5

[43799 rows x 3 columns]

In [ ]:
x = pd.read_csv(DATA_PATH + 'yob1880.txt').head(10)

In [ ]:
names = pd.read_csv(DATA_PATH + 'yob2000.txt',
                   names = ['Name', 'Gender', 'Count']
                   )
names.head(10)

In [15]:
x

        Mary  F  7065
0       Anna  F  2604
1       Emma  F  2003
2  Elizabeth  F  1939
3     Minnie  F  1746
4   Margaret  F  1578
5        Ida  F  1472
6      Alice  F  1414
7     Bertha  F  1320
8      Sarah  F  1288
9      Annie  F  1258

In [ ]:
names[:10].to_csv('temp.csv', index=False)

In [ ]:
names.query('Count < 10')

In [ ]:
names[(names.Count > 25000) & (names.Gender == 'F')]

In [ ]:
names.unt < 10